.nav-item{
    letter-spacing: .2em;
    font-size:14px;
    text-transform: uppercase;
    align-items: center;
    font: bold;
    }

.dropdown-item{
    font-size:15px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font: small-caps bold 15px/15px calibri;
    color:blue;
    }

.my_footer{
    font-size:15px;
    background-color: #D0D3D4;
    padding: 2;
    }

.card-body{
    font-size:1px;
    }

.container{
    font-size:15px;
    }

.row{font-size:15px;}


.my_product{
    font-size:10px;
    align-self:absolute;
    }

.my_title{
    color: black;
    background-color: 1F618D;
    padding: 1rem;
    font-size:15px;
    font: bold;
    text-transform: uppercase;
    }

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.card button:hover {
  opacity: 0.7;
}

.img {
float: left;
width: 100px;
height: 50px;
object-fit: cover;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


