{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:150}}
    {% else %}
        Welcome to V-Shop where you can buy different items
    {% endif %}
{% endblock %}

{% block title %} V-Shop

    {% if category %}
        {{category.name}}
    {% else %}
        See all collections
    {% endif %}

{% endblock %}

{% block content %}

    
    <div class="container-fluid">
        <div class="row-fluid">
            {% if category %}
            <img style="width: 100%;height:50%;padding-block: 1rem;padding-left: 20rem; padding-right: 20rem;" class="my_image catesize" src="{{ category.image.url }}" alt="{{ category.name }}">
        </div><br>
            <h4 class="text-center my_title">{{category.name}}</h4>
        <p class="text-justify">
            {{category.description}}
        </p>
    </div>

            {% else %}
    <div class="container-fluid">
        <div class="">
            <img style="width: 100%; height:20rem;" src="{% static 'image/banner.png' %}" class="img-fluid img-thumbnail" alt="Our Products">
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="">
            <h4 class="text-center my_title">ALL PRODUCT COLLECTIONS</h4>
        </div>
    </div><br>

    {% endif %}

        <div class="container-fluid">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-12 col-lg-4" style="padding-block:1rem; padding-right: 5rem;padding-left: 5rem;">
                    <div class="card">
                        <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" class="card-img-top img-fluid" style="width:27rem; height:22rem;"></a>
                        <h5 style="padding:.4rem;">{{product.name}}</h5>
                        <h5 class="price" style="padding:.4rem;">₹ {{product.price}}</h5>
                    {% if product.stock <= 0 %}
                        <a class="my_style"><b>Out of stock</b></a>
                    {% else %}

                        <span class="fa fa-star checked" style="padding:.4rem;">
                        <span class="fa fa-star checked">
                        <span class="fa fa-star"></span></span></span>
                    {% endif %}

                     </div>
                </div>
                {% endfor %}
            </div><br>

            <div class="paginator">
                <div class="mx-auto">

                {% if products.paginator.num_pages > 1 %}
                <hr>

                    <div class="text-center">

                        {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                        {% endfor %}

                    </div><br>
                        {% endif %}
                </div>
            </div>
        </div>

{% endblock %}